<link rel="stylesheet" href="../price/price.component.scss">
<div class="amx-main">
  <div class="amx-main__content">
    <div class="amx-logo">
    </div>
    <div class="amx-main-text">

      <div class="amx-works">
        <p class="container">
          <img class="amx-works__work" *ngFor="let item of items; index as i"
               [lightbox]="i"
               [src]="item.data.thumb">
        </p>
      </div>

      <p>
        AutoMehanix – это московская студия автозвука с существенным опытом по созданию систем,
        которые будут радовать вас качественным звуком долгое время.
      </p>
      <p>
        Обращайтесь к нам и наслаждайтесь любимой музыкой в шикарном звучании каждый день.
      </p>
    </div>
  </div>
</div>
