<div class="amx-main amx-contact">
  <div class="amx-contact__info">
    <address class="amx-contact__address">г. Москва, ул. Москворечье д.1</address>
    <p class="amx-contact__extra">
      <span>Студия находится на территории гаражного комплекса.</span>
      <span>Звоните перед выездом, чтобы записаться и узнать время необходимых работ.</span>
    </p>
  </div>
  <div class="amx-main__content amx-contact__map">
    <iframe
      [attr.width]="mediaWidth"
      style=" border: none;" height="400" src="https://yandex.ru/map-widget/v1/?um=constructor%3A5BrkEvXBG11zo6iD-0Sm30y47wZ-YWhV&amp;source=constructor"></iframe>
  </div>
</div>

