:host {
  display: flex;
  justify-content: center;
}


.amx-header {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  padding: var(--offset) var(--offset);
  width: 100%;
  height: calc(var(--offset) * 20);

  //border-radius: calc(var(--offset) * 2);
  //background-color: var(--menu-background-color);

  margin-top: calc(var(--offset) * 4);

  &__block {


    display: flex;
  }

  &__link {
    &:not(:last-child) {
      margin-right: calc(var(--offset) * 2);
    }
  }

  &__info {
    margin-top: calc(var(--offset) * 2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__phone {
    display: flex;
    margin-bottom: calc(var(--offset) * 2);
  }

  &__instagram {
    display: flex;
  }

  .amx-instagram-logo {
    background-image: url("./../../../../../assets/img/logo-instagram.svg");
    background-size: contain;
    background-repeat: no-repeat;

    width: calc( var(--font-size) * 1.5 );
    height:  calc( var(--font-size) * 1.5 );

    margin-right: calc(var(--offset) * 2);
  }
}
