<link rel="stylesheet" href="../../../../../styles/link.scss">
<div class="amx-main">
  <div class="amx-main__content">

    <div class="amx-main-price">
      <div class="amx-main-price__fast-way">
        <ul>
          <li *ngFor="let item of fragments">
            <a class="amx-link" (click)="scrollToCurrentAnchor(item.link)">{{item.name}}</a>
          </li>
        </ul>
      </div>


      <div class="amx-main-price__grid">

        <span class="amx-main-price__header" id="radio">Установка магнитолы</span>
        <span></span>

        <span>1 din</span>
        <span>1000</span>

        <span>2 din</span>
        <span>2000</span>

        <span>с выездным монитором</span>
        <span>1500</span>

        <span>протяжка микрофона</span>
        <span>500</span>

        <span>протяжка GPS антены</span>
        <span>500</span>

        <span>установка антены на стекло</span>
        <span>700</span>

        <span>установка звукового процессора</span>
        <span>3000</span>

        <span>настройка звукового процессора</span>
        <span>3000</span>

        <span>протяжка USB в любое место</span>
        <span>1500</span>

        <span>установка тв тюнера</span>
        <span>1500</span>

        <span>установка камеры</span>
        <span>2000</span>
      </div>

      <div class="amx-main-price__grid">
        <span class="amx-main-price__header" id="acoustic">Установка акустики</span>
        <span></span>

        <span>в штатное место</span>
        <span>500 (за шт.)</span>

        <span>2-х композитной</span>
        <span>1000 (за дверь)</span>

        <span>3-х композитной</span>
        <span>1500 (за дверь)</span>

        <span>доработка штатного места</span>
        <span>500</span>

        <span>подиумы под мидбас</span>
        <span>2000 (за шт.)</span>

        <span>подиумы под высокочастотник</span>
        <span>1500 (за шт.)</span>

        <span>аккустическая полка</span>
        <span>от 4000</span>

        <span>протяжка силовых и аккучтических проводов</span>
        <span>от 3000</span>
      </div>

      <div class="amx-main-price__grid">
        <span class="amx-main-price__header" id="subWoofer">Изготовление  сабвуфера</span>
        <span></span>

        <span>простого сабвуфера</span>
        <span>от 4000</span>

        <span>сложного сабвуфера</span>
        <span>от 6000</span>

        <span>сабвуфера в stealth (стелс) корпусе</span>
        <span>от 10000</span>
      </div>

      <div class="amx-main-price__grid">
        <span class="amx-main-price__header" id="receiver">Установка усилителя</span>
        <span></span>

        <span>установка 2-х канального усилителя / моноблока</span>
        <span>1000</span>

        <span>установка 4-х канального / 5-х канального усилителя</span>
        <span>2000</span>

        <span>фальш-панель усилителя</span>
        <span>от 2000</span>

        <span>установка конденсатора</span>
        <span>1000</span>
      </div>

      <div class="amx-main-price__grid">
        <span class="amx-main-price__header" id="soundproofing">Шумоизоляция</span>
        <span>слои 1/2/3</span>

        <span>двери (за 1 дверь) </span>
        <span>1300 / 1800 / 2300</span>

        <span>багажник</span>
        <span>4300 / 5300 / 7300</span>

        <span>работы с полом автомобиля</span>
        <span>6300 / 7300 / 9300</span>

        <span>задние колесные арки</span>
        <span>2300 / 3300 / 4300</span>

        <span>крыша</span>
        <span>4300 / 5300 / 7300</span>

        <span>полная</span>
        <span>от 16000</span>
      </div>

      <div class="amx-main-price__grid">
        <span class="amx-main-price__header" id="project">Индивидуальный проект</span>
        <span></span>

        <span>весь материал входит в стоимость</span>
        <span>50% от стоимости оборудования</span>
      </div>

    </div>

  </div>
</div>
